name: CI

on:
  push:
    paths-ignore:
      - "**.md"

permissions:
  contents: read
  actions: read

jobs:
  ci:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-22.04
          - macos-26
          - macos-15
          - ubuntu-24.04-arm
          - ubuntu-22.04-arm
          # 将来的に対応予定
          # - windows-2025
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Install build dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential \
            libclang-dev \
            libx11-dev
      - name: Install Clang for ARM64
        if: runner.os == 'Linux' && runner.arch == 'ARM64'
        run: |
          sudo apt-get install -y clang
      - run: rustup update stable
      - uses: shiguredo/github-actions/.github/actions/rust-cache@main
        with:
          os: ${{ matrix.os }}
          toolchain: stable
      - run: cargo fmt --all --check
      - run: cargo check --workspace
      - run: cargo test --workspace
      - run: cargo clippy --workspace -- -D warnings

  slack_notify_failed:
    needs: [ci]
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    if: failure()
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: webrtc-rs
          SLACK_COLOR: danger
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_TITLE: "FAILED"
          SLACK_MESSAGE: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{github.event.head_commit.message }}>
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
